<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    {% if not DEBUG %}
    {% include 'base/components/google.html' %}
    {% endif %}
    <meta content="{% block author %}Renato Cruz{% endblock %}" name="author">
    <meta content="{% block keywords %}Python, FastAPI, JavaScrit, Ajax, {% endblock %}" name="keywords">
    <meta content="{% block description %}API construída com a linguagem de programação Python e FastAPI{% endblock %}"
          name="description">
    <link href="{{ url_for('static', path='/favicon/justcode-512x512.png') }}" rel="icon" type="image/png">
    <title>{% block title %}{% endblock %} - API justCode</title>
    {% block css %}
    {% if DEBUG %}
    <link href="{{ url_for('static', path='/base/css/bootstrap.min.css') }}" rel="stylesheet">
    {% else %}
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    {% endblock %}
</head>

<body {% block brython %}{% endblock %}>
{% include 'base/components/navbar.html' %}
{% block content %}{% endblock %}
{% include 'base/components/footer.html' %}
{% block js %}
{% if DEBUG %}
<script src="{{ url_for('static', path='/base/js/bootstrap.bundle.min.js') }}"></script>
{% else %}
<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
{% endif %}
<script src="{{ url_for('static', path='/base/js/close-alert-min.js') }}"></script>
{% endblock %}
</body>

</html>