{% extends 'base/base.html' %}
{% block title %}Ajax com XMLHttpRequest e FastAPI{% endblock %}
{% block css %}
{{ super() }}
<link href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.0/build/styles/base16/material-palenight.min.css"
    rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">Requisições Ajax com Axios e FastAPI</h1>
    <form class="my-5" id="form">
        <div>
            <label class="form-label" for="firstName">Nome:</label>
            <input class="form-control" id="firstName" maxlength="16" name="firstName" type="text">
            <small class="text-muted">Digite um nome.</small>
        </div>
        <div class="my-5">
            <label class="form-label" for="lastName">Sobrenome:</label>
            <input class="form-control" id="lastName" maxlength="16" name="lastName" type="text">
            <small class="text-muted">Digite um sobrenome.</small>
        </div>
        <button class="btn btn-primary" onclick="sendDataByGet(this)" type="button">
            Dados via GET
        </button>
        <button class="btn btn-primary" onclick="sendDataByPost(this)" type="button">
            Dados via POST
        </button>
    </form>
    <p>Resultado:</p>
    <p id="result">Esse texto será alterado...</p>
    <hr class="my-5">
    <h2>Código JavaScript utilizado</h2>
    <pre><code class="JavaScript">
{{ data|e }}
    </code></pre>
</div>
{% endblock %}
{% block js %}
{{ super() }}
{% if DEBUG %}
<script src="{{ url_for('static', path='/ajax/js/ajax-jsxmlhttprequest.js') }}"></script>
{% else %}
<script src="{{ url_for('static', path='/ajax/js/ajax-jsxmlhttprequest-min.js') }}"></script>
{% endif %}
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.0/build/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}