<footer class="footer mt-5 py-3 text-center">
    <div class="container">
        <p>
            © 2022 - 2022&emsp;-&emsp;<a href="{{ url_for('home_web') }}"><strong>API justCode</strong></a>
            site desenvolvido por <a href="https://www.linkedin.com/in/natorsc/" target="_blank">Renato Cruz</a>.
        </p>
        <p>
            <a href="https://github.com/natorsc" target="_blank"><i class="bi bi-github" style="font-size: 2rem;"></i></a>&emsp;
            <a href="https://www.linkedin.com/in/natorsc/" target="_blank"><i class="bi bi-linkedin" style="font-size: 2rem;"></i></a>
        </p>
    </div>
</footer>